.message-container{
  position: relative;
  align-items: center;
  justify-content: center;
}

.message{
  border: 1px solid rgb(255,255,255,0.15);
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255, 0.05);
}

.founder-img{
  justify-content: center;
}

.founder-img img{
  background: linear-gradient(to left, darkblue, darkorchid) border-box;
  border-radius: 50%;
  border: 5px solid transparent;
}

.founder-message-container{
  flex-direction: column;
  justify-content: space-between;
}

.founder-message{
  color: #FFF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.founder{
  color: rgb(255,255,255,0.7);
}

/* Mobile Devices (up to 767px) */
@media only screen and (max-width: 767px) {
  /* .message-container{
    height: 75vh;
  } */
  
  .message{
    width: 90vw;
    padding: 2rem 1.75rem;
  }

  .founder-img img{
    height: 25vh;
  }

  .founder-message-container{
    height: 42vh;
    padding-top: 2rem;
    text-align: center;
  }

  .founder-message{
    font-size: 4.2vw;
  }

  .founder{
    font-size: 3vw;
  }

  .bl-3{
    width: 30vw;
    height: 30vw;
    bottom: 5vw;
    left: 2vw;
  }
}

/* Tablet Devices (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .message-container{
    height: 80vh;
  }
  
  .message{
    width: 90vw;
    padding: 2rem 1.75rem;
  }

  .founder-img img{
    height: 40vw;
  }

  .founder-message-container{
    /* height: 45vh; */
    padding-top: 4rem;
    text-align: center;
  }

  .founder-message{
    font-size: 3.7vw;
  }

  .founder{
    font-size: 3vw;
  }

  .bl-3{
    width: 30vw;
    height: 30vw;
    bottom: 5vw;
    left: 0vw;
  }
}

/* Small Desktops and Laptops (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .message-container{
    height: 90vh;
  }
  
  .message{
    width: 75vw;
    padding: 4rem 2rem;
  }

  .founder-img img{
    height: 40vh;
  }

  .founder-message-container{
    height: 40vh;
  }

  .founder-message{
    font-size: 1.5vw;
    line-height: 2.6vw;
  }

  .founder{
    font-size: 1.3vw;
  }

  .bl-3{
    width: 15vw;
    height: 16vw;
    bottom: 10vw;
    left: 0vw;
  } 
}

/* Large Desktops (1200px and above) */
@media only screen and (min-width: 1200px) {
  .message-container{
    height: 100vh;
  }
  
  .message{
    width: 75vw;
    padding: 4rem 1.75rem;
  }

  .founder-img img{
    height: 40vh;
  }

  .founder-message-container{
    height: 40vh;
  }

  .founder-message{
    font-size: 1.5vw;
    line-height: 2.7vw;
  }

  .founder{
    font-size: 1.3vw;
  }

  .bl-3{
    width: 16vw;
    height: 17vw;
    bottom: 8vw;
    left: -2vw;
  }
}
