.dashboard{
  flex-direction: column;
  align-items: center;
}

.heading{
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.heading h1{
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #FFF;
  font-weight: 700;
}

.heading p{
  color: #B5B4BA;
}

.about{
  align-items: center;
}

.description{
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.description h3{
  color: #FFF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
}

.description p{
  color: rgb(255, 255, 255, 0.7);
}

.pattern{
  padding: 0;
  align-items: center;
}


/* Mobile Devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .heading{
    height: 50vh;
    width: 80vw;
    justify-content: space-evenly;
  }

  .heading h1{
    font-size: 6.8vw;
    line-height: 3rem;
  }

  .heading p{
    width: 80vw;
    font-size: 3.5vw;
    margin-top: 5vw;
  }

  .heading button{
    height: 7vw;
    width: 50vw;
    margin-top: 3vw;
    font-size: 3.5vw;
  }

  .bl-1{
    width: 40vw;
    height: 40vw;
    top: 25vw;
    left: 0vw;
  }

  .bl-2{
    width: 30vw;
    height: 30vw;
    right: 0vw;
    top: 45vh;
  }

  .about{
    height: 65vh;
  }

  .pattern img{
    display: none;
  }

  .description{
    height: 55vh;
    width: 90vw;
  }

  .description h3{
    font-size: 6vw;
  }

  .description p{
    font-size: 3.5vw;
    justify-content: space-evenly;
  }
}

/* Tablet Devices (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}

/* Small Desktops and Laptops (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  
}

/* Large Desktops (1200px and above) */
@media only screen and (min-width: 1200px) {
  .heading{
    height: 91vh;
    width: 70vw;
  }

  .heading h1{
    font-size: 4vw;
    line-height: 5rem;
  }

  .heading p{
    width: 55vw;
    font-size: 1.3vw;
    margin-top: 3.5vw;
  }

  .heading button{
    height: 3.5vw;
    width: 18vw;
    margin-top: 3vw;
  }

  .bl-1{
    width: 23vw;
    height: 23vw;
    top: 5vw;
    left: 5vw;
  }

  .bl-2{
    width: 16vw;
    height: 18vw;
    right: 10vw;
    top: 28vw;
  }

  .about{
    height: 100vh;
  }

  .pattern{
    height: 100vh;
  }

  .pattern img{
    height: 90vh;
  }

  .description{
    height: 100vh;
    padding: 7vw 8vw;
  }

  .description h3{
    font-size: 3.5vw;
  }

  .description p{
    font-size: 1.2 vw;
    line-height: 1.9rem;
  }
}
