.footer-container{
  position: relative;
}

.footer-background{
  position: absolute;
  width: 100vw;
  z-index: -1;
  bottom: 0;
}

.footer p{
  color: gray;
  margin: 0;
}

.footer-social-icon{
  cursor: pointer;
  margin: 0rem 1rem;
  color: gray;
  transition: all 0.3s ease;
}

.footer-social-icon:hover{
  color: gainsboro;
  transform: scale(1.1);
}

/* Mobile Devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .footer-container{
    height: 50vw;
  }
  
  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-size: 0.9rem;
  }
  
  .footer-logo{
    width: 30%;
    margin-bottom: 1rem;
  }

  .footer-social-icon{
    margin-top: 1rem;
  }
}

/* Tablet Devices (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-container{
    height: 40vw;
  }
  
  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    font-size: 1.1rem;
  }
  
  .footer-logo{
    width: 30%;
    margin-bottom: 1rem;
  }

  .footer-social-icon{
    margin-top: 2rem;
  }
}

/* Small Desktops and Laptops (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer{
    height: 23vw;
    align-items: end;
    justify-content: space-between;
    padding: 0vw 5vw;
    padding-bottom: 1vw;
    font-size: 0.9rem;
  }
  
  .footer-logo{
    width: 15%;
  }
}

/* Large Desktops (1200px and above) */
@media only screen and (min-width: 1200px) {
  .footer{
    height: 23vw;
    align-items: end;
    justify-content: space-between;
    padding: 0vw 5vw;
    padding-bottom: 1vw;
    font-size: 0.9rem;
  }
  
  .footer-logo{
    width: 10%;
  }
}
